$primary-color: #354E57;
$secondary-color: #A67744;
$light-gray-color: #e0e4e7;
$white-color: #fff;
$gray-color: #EEF2F4;

$proxima-nova-bold: 'ProximaNovaBold';
$proxima-nova: 'ProximaNova';
$somatic-rounded: 'SomaticRounded';

$font-size-54: 54px;
$font-size-48: 48px;
$font-size-40: 40px;
$font-size-32: 32px;
$font-size-28: 28px;
$font-size-24: 24px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;